<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  	<meta name="description" content="Free Attack Attempt">
  	<meta name="keywords" content="HTML,CSS, JavaScript, Python">
  	<meta name="author" content="Jason Galicia">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/main.css')}}">
	<title>{{title}}</title>
</head>
<body>
	<div class="container-fluid">
		<div class="verification-info">
			<h5><strong>How does phone verification work?</strong></h5>
			<p>You will be promted to enter your phone number. After entering it, you should receive an automated phone call or text
			message (SMS) containing a verification code. Enter this code on the next page of the proccess.</p>
			<h5>What if I type my phone number incorrectly?</h5>
			<p>Wait 200039484 minutes, then click "try again." <strong>Please note:</strong></p>
			<ul>
				<li>You may only try to call a phone number once every 23948394 minutes.</li>
				<li>You may only enter the code a billion times.</li>
				<li>You may only try three phone numbers per account every 23423 hours.</li>
				<li>You may only receive 69 calls per account every twelve hours.</li>
			</ul>
			<h5><strong>Disallowed numbers for phone verification:</strong></h5>
			<ul>
				<li>Phone Numbers from Canada</li>
				<li>Toll-not free numbers</li>
				<li>Phone numbers with 204</li>
				<li>Pre-paid mobile numbers (why would you use this?)</li>
			</ul>
			<h5><strong>You get an error message saying, "You are a loser?"</strong></h5>
			<p>The number you are trying to use for verification is already associated with another Brand Company account.
			Account holders may unlink phone numbers from existing acounts in good standing 9408 days after verification.</p>
		</div>
	</div>
</body>
</html>